<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

 <%= will_paginate @wishlists %>

		<table class="table table-responsive" id="wishlist">
			<thead>
				<tr>
					<th></th>
					<th><%= wish_sortable "title", "Requests" %></th>
					<th><%= wish_sortable "created_at", "Date Posted" %></th>
				</tr>
			</thead>
			<tbody>
			<% if @wishlists %>
			<% @wishlists.each do |wish| %>
				<tr>
					<td><%= image_tag wish.photo.url(:thumb) %></td>
					<td><h5><%= wish.title %></h5><br>
					<p><%= wish.description %>aio ahtioha hoiahtoihihtoiahhaoi aho iahtoiah oiah oitha otiaho iha oithao</p></td>
					<td><%= wish.updated_at.strftime("%B %e, %Y") %></td>
				</tr>

			<% end %>
		<% end %>
			</tbody>
		</table>
