<%= content_for :navbar do %>

	<%= render 'navbar' %>

<% end %>

<% content_for :supply_table do %>
	<%= render 'supplycarousel' %>
	<%= render 'supplytable' %>
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#supplymodal" id="opensupply">
	  Launch demo modal
	</button>
	<%= render 'newwish' %>
<% end %>
<% content_for :supply_modal do %>
	<%= render 'newsupply' %>
<% end %>



<% content_for :index do %>
	
	<%= render 'index' %>

	<% if user_signed_in? %>
	<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
	<% else %>
	<%= link_to 'Login', new_user_session_url %>
	<%= link_to 'Register', new_user_registration_url %>
	<% end %>



<% end %>

<% content_for :intro do %>
	<%= render 'introcontent' %>
<% end %>

<% content_for :ender do %>
	<%= render 'ender' %>
<% end %>

<% content_for :footer do %>
	<%= render 'footer' %>
<% end %>
