<!DOCTYPE html>
<html>
<head>
  <title>Dognate</title>
  <%= stylesheet_link_tag    "members", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery", "members1"  %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<div class="navbar navbar-default navbar-fixed-top">
	<%= yield :navbar %>
</div>
<section class="container-fluid" id="intro" data-type="background" data-speed="20">
	<div id="middle" class="row-fluid">
		<%= yield :intro %>
	</div>
</section>
<section class="container-fluid" id="home" data-type="background" data-speed="20">
	<div id="form">
		<%= yield :index %>
	</div>
</section>
<section class="container-fluid" id="about" data-type="background" data-speed="20">
	<div id="article">
		<%= yield :supply_table %>
		
	</div>
</section>

</body>
</html>
